:root {
	--page-background: #121816;
	--container-background: #f5f5f5;
    --container-muted: #e5e4e2;

	--button: #db3320;
    --button-disabled: #8d2519;
    
    --border: #8f8f9d;

	--text-light: #fefefe;
    --text-muted: #7e7e7e;
	--text-dark: black;
}

body {
	margin: 0;

	font-family: "Segoe UI";

	color: var(--text-light);
	background-color: var(--page-background);
}
#root {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
}
