* {
	box-sizing: border-box;
}

.main-content-helper-container {
	display: grid;
	grid-template-columns: 1fr 1.5fr;

	width: 100vw;
	height: 100vh;

	padding: 12px;

}

.main-content-container {
	display: flex;
	flex-direction: column;
}

.container-navigation {
	padding: 2px;

	margin-bottom: 10px;

	background-color: var(--container-background);
	color: var(--text-dark);
}

.container-body {
	padding: 12px;

	height: 100%;

	color: var(--text-dark);
	background-color: var(--container-background);

	border-bottom-right-radius: 4px;
}

.debug-container {
	position: absolute;
	top: auto;
	bottom: 5px;
	left: auto;
	right: 5px;
}

.error-btn {
	width: 100px;
	height: 40px;
	border: 2px solid white !important;
	padding: 8px;
	margin-bottom: 8px;
	margin-right: 8px;
	font-size: 14px;
	white-space: nowrap;
	cursor: pointer;
	background-color: transparent;
	color: #fff !important;
	border-radius: 4px;
}
