* {
	box-sizing: border-box;
}

body {
	overflow: hidden;
}

.main-content-helper-container {
	display: grid;
	grid-template-columns: 1fr 1.5fr;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	padding: 24px;
	height: 100vh;
}

.main-content-container {
	display: flex;
	flex-direction: column;
	max-height: 100%;
	overflow: hidden;
}

.container-navigation {
	padding: 2px;

	margin-bottom: 10px;

	background-color: var(--container-background);
	color: var(--text-dark);
}

.container-body {
	padding: 12px;

	height: 100%;
	/* app padding + navbar height */
	max-height: calc(100vh - 24px);
	overflow-y: scroll;
	scrollbar-color: red;

	color: var(--text-dark);
	background-color: var(--container-background);

	border-bottom-right-radius: 4px;
}

.debug-container {
	position: absolute;
	top: auto;
	bottom: 5px;
	left: auto;
	right: 5px;
}

.error-btn {
	position: fixed;
	bottom: 26px;
	right: 26px;

	width: 100px;
	height: 40px;
	border: 2px solid black;
	border-radius: 4px;
	font-size: 14px;
	white-space: nowrap;
	cursor: pointer;
	background-color: transparent;
	color: black;
}
