.flow-page-content {
	padding-left: 40px;
	padding-right: 40px;
}
.side-padding-wrapper {
	padding-right: 10%;
	padding-left: 10%;
}

.side-typeselector {
	display: flex;
	justify-content: space-around;
}

.side-typeselector-button-container {
	text-align: center;
	margin-bottom: 16px;
}
.side-typeselector-button {
	flex-shrink: 1;
	margin: 4px;
	filter: brightness(90%) grayscale(40%);
	max-width: 240px;
}
.side-typeselector-button.active {
	filter: brightness(105%);
}
.side-typeselector-button > img {
	width: 100%;
}

.side-label {
	text-align: center;
}

.side-inputfield-container {
	margin-top: 10px;
	margin-bottom: 10px;

	display: grid;
	gap: 4px;
	justify-content: center;
	grid-template-columns: 1fr 24vw;
}
.side-inputfield-container input:not([type="checkbox"]) {
	font-size: 14px;
	width: 100%;
}
.side-inputfield-checkbox-container {
	white-space: nowrap;
}
.side-inputfield-input-container,
.side-inputfield-relwrapper {
	text-align: center;
	align-self: center;
	max-width: 24vw;
}

.side-inputfield-relwrapper {
	position: relative;
}
.side-inputfield-relwrapper > input:not(.cssruleorderfix) {
	font-family: "Segoe UI";
	display: inline;
	border: 1px solid var(--border);
	border-radius: 3px;
	width: 100%;
}
.side-inputfield-mask-container {
	display: inline;
	position: absolute;
	left: 3px;
	pointer-events: none;
}
.side-inputfield-mask-container > span {
	font-size: 14px;
}

.side-inputfield-mask-pre {
	opacity: 0;
}
.side-inputfield-mask-post {
	color: var(--text-muted);
}

.side-inputfield-suggestions {
	width: 100%;
	top: auto;
	box-sizing: border-box;

	border: 1px solid var(--border);
	border-radius: 3px;

	padding: 4px;
	margin-top: 4px;

	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);

	display: flex;
	flex-direction: column;

	z-index: 999;
}

.side-inputfield-suggestions-item {
	appearance: none;
	background: inherit;
	border: 0;
	padding: 5px;
	flex: 0 0;
	height: 30px;

	cursor: pointer;

	text-align: left;
	z-index: 999;
}
.side-inputfield-suggestions-item-hover {
	filter: brightness(92%);
}

.side-button {
	margin: auto;
	display: block;
	margin-top: 4px;
	margin-bottom: 4px;
}

.side-checkboxlabel-container,
.side-radiolabel-container {
	display: flex;
}
.side-checkboxlabel-container > input,
.side-radiolabel-container > input {
	margin-right: 10px;
}
.side-checkboxlabel-label,
.side-radiolabel-label {
	text-align-last: center;
}

.representative-adder,
.defendant-adder {
	margin: 10px;
	margin-bottom: 16px;
}

.side-select-selectelement {
	max-width: 100%;
	width: 100%;
}
