/* Оформление label */
.sydside-label {
  float: left;
}

.sydside-app {
  margin-left: 40px;
}

.sydside-ul {
  color: #47525e;
  font-family: Lato;
  font-size: 26px;
  line-height: 33px;
  text-align: left;
}

.sydside-li {
  color: #47525e;
  font-family: Lato;
  font-size: 15px;
  line-height: 25px;
  text-align: left;
  list-style-type: none; /* Убираем маркеры у списка */
}
.sydside-li:before {
  content: "♫"; /* Добавляем в качестве маркера символ */
}
/* Оформление заголовка */
.sydside-app-tema {
  text-align: center;

  margin: auto; /* Выравниваем по центру */
  color: #47525e;
  font-family: Lato;
  font-size: 26px;
  line-height: 33px;
}
/* Оформление подпунктов */
.sydside-app-radio-text {
  clear: both;
  text-align: right;
  width: 100%;
  margin-bottom: 7px;
}
/* Ограничение ширины для длинных Label */
.sydside-app-radio-text-width {
  width: 220px;
  text-align: left;
}
/* Часть экрана для текста справа */
.sydside-split-text {
  float: left;
  width: 80%;
}
/* Часть экрана для кнопок слева */
.sydside-split-button {
  float: left;
  width: 20%;
  height: 100%;
}
/* Логика кнопок */
.sydside-button-route {
  background: rgb(67, 201, 116);
  height: 80px;
  width: 80px;
  font-family: "Times New Roman", Times, serif; /* Гарнитура текста */
  font-size: 350%;
  margin-bottom: 15px;
  flex-grow: 1;
}
.sydside-button-route:hover,
.sydside-button-route:focus {
  border-color: #999;
  background: -webkit-linear-gradient(top, white, #e0e0e0);
  background: -moz-linear-gradient(top, white, #e0e0e0);
  background: -ms-linear-gradient(top, white, #e0e0e0);
  background: -o-linear-gradient(top, white, #e0e0e0);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 0 3px #fff;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 0 3px #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 0 3px #fff;
}
